<%- include("./partials/nav.ejs") %>

    <main class="popular-media">
        <h1>Popular Movies</h1>
        <div class="movie-container">
            <% movies.forEach((movie, index) => { %>
                <% if(index <= 11) {%>
                    <a href="/movie/<%= movie.id %>">
                        <div class="movie-items">
                            <img src="https://image.tmdb.org/t/p/w200<%= movie.poster_path%>" alt="<%= movie.title %>">
                            <div class="movie-text">
                                <span><%= movie.title %></span>
                            </div>
                        </div>
                    </a>
                <% } %>
            <%  }) %>
        </div>

        <h1>Popular Tv Shows</h1>
        <div class="movie-container">
            <% tvs.forEach((movie, index) => { %>
                <% if(index <= 11) {%>
                    <a href="/movie/<%= movie.id %>">
                        <div class="movie-items">
                            <img src="https://image.tmdb.org/t/p/w200<%= movie.poster_path%>" alt="<%= movie.title %>">
                            <div class="movie-text">
                                <span><%= movie.title %></span>
                            </div>
                        </div>
                    </a>
                <% } %>
            <%  }) %>
        </div>
        
    </main>
</body>

</html>