<%- include("./partials/nav.ejs") %>

    <main class="popular-media">
        <h1>Welcome to your Watchlist, <%= user.username %></h1>
        <div class="watchlist-container">
            <% watchlist.forEach(movie => { %>
                <a href="/<%= movie.mediaType %>/<%= movie.id %>">
                    <div class="movie-items">
                        <img class="home-poster" src="https://image.tmdb.org/t/p/w200<%= movie.posterPath%>" alt="<%= movie.title %>">
                        <div class="movie-text">
                            <span><%= movie.title %></span>
                        </div>
                    </div>
                </a>
            <%  }) %>
        </div>
    </main>
    </body>

    </html>