<%- include("../partials/nav.ejs") %>

    <main>
        <section class="media-container" style="
            background-image:url('https://image.tmdb.org/t/p/original<%= movie.backdrop_path %>');
            ">
            <div class="media-details-container">
                <img class="media-details-poster" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %> ">

                <div class="media-details-content">
                    <h1><%= movie.title %></h1>
                    <p class="tagline"><%= movie.tagline %></p>

                    <div class="media-info">
                        <span>⭐ Future Rate</span>
                        <span><%= movie.release_date.slice(0, 4) || "Not available" %></span>
                        <span><%= movie.runtime %> min</span>
                    </div>

                    <div class="genre">
                        <% movie.genres.forEach(genre => { %>
                            <span class="genre-style"><%= genre.name %></span>
                         <% }) %>
                    </div>

                    <h2>Overview</h2>
                    <p class="overview"><%= movie.overview %></p>

                    <% if(user) { %>
                        <div class="media-actions">
                            <button class="primary-button">Add to Watchlist</button>
                            
                            <div class="secondary-button">
                                <button>Rate Movie</button>
                                <% reviews.forEach(review => { %>
                                     <% if(review.user.equals(user.id)) {%>
                                        <button class="open-add-review" disabled>Reviewed &#10004;</button>
                                        <% } else { %>
                                            <button class="open-add-review">Add Review</button>
                                    <%  } %>
                                <% }) %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>

        <% if(user) {%>
            <dialog class="add-review">
                <form action="/movies/<%= movie.id %>/reviews" method="POST">
                    <div class="review-form-header">
                        <h2>Add Review</h2>
                        <button class="close-review">X</button>
                    </div>
                    <textarea name="comment" id="comment" required></textarea>

                    <div class="form-review-buttons">
                        <button class="cancel-review">Cancel</button>
                        <button class="primary-button submit-review" type="submit">Submit Review</button>
                    </div>
                </form>
            </dialog>
        <% } %>

        <section class="display-review">
            <% reviews.forEach(review => { %>
                <strong><%= review.user.username %></strong>
                <p><%= review.comment %></p>

                <% if(review.user.equals(user.id)) {%>
                    <form action="/movies/<%= movie.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete Review</button>
                    </form>

                    <form action="/movies/<%= movie.id %>/reviews/<%= review.id %>?_method=PUT" method="POST">
                        <button type="submit" class="open-add-review">Edit Review</button>
                    </form>
                <% } %>
            <% }) %>
        </section>

    </main>
    <script src="/scripts/handle-dialog.js"></script>
</body>

</html>