<%- include("../partials/nav.ejs") %>

    <main>
        <section class="media-container" style="
            background-image:url('https://image.tmdb.org/t/p/original<%= tmdbMedia.backdropPath %>');
            ">
            <div class="media-details-container">
                <img class="media-details-poster" src="https://image.tmdb.org/t/p/w500<%= tmdbMedia.posterPath %>"
                    alt="<%= tmdbMedia.title %> ">

                <div class="media-details-content">
                    <h1>
                        <%= tmdbMedia.title %>
                    </h1>
                    <p class="tagline">
                        <%= tmdbMedia.tagline %>
                    </p>

                    <div class="media-info">
                        <% if(avgRating) { %>
                            <span>
                                ⭐ <%= avgRating %>/10 . <%= rating %> <%= rating === 1 ? "rating" : "ratings" %>
                            </span>
                        <% } else { %>
                            <span>⭐ Not Yet Rated</span>
                        <% } %>
                        <span>
                            <%= tmdbMedia.releaseDate.slice(0, 4) || "Not available" %>
                        </span>
                        <span>
                            <% if(tmdbMedia.runtime) {%>
                                <%= tmdbMedia.runtime %> min
                            <% } else { %>
                                N/A
                            <% } %>    
                        </span>
                    </div>

                    <div class="genre">
                        <% tmdbMedia.genres.forEach(genre=> { %>
                            <span class="genre-style">
                                <%= genre.name %>
                            </span>
                        <% }) %>
                    </div>

                    <h2>Overview</h2>
                    <p class="overview">
                        <%= tmdbMedia.overview %>
                    </p>

                    <% if(user) { %>
                        <div class="media-actions">
                            <% if(isInWatchlist) { %>
                                <form action="/watchlist/<%= mediaType %>/<%= tmdbMedia.id %>?_method=DELETE" method="POST">
                                    <button class="primary-button">Remove from Watchlist</button>
                                </form>
                            <% } else { %>
                                <form action="/watchlist/<%= mediaType %>/<%= tmdbMedia.id %>" method="POST">
                                    <button class="primary-button">Add to Watchlist</button>
                                </form>
                            <% } %>
                            <div class="secondary-button">
                                <% if(userRating) {%>
                                    <button class="open-add-rating">Your Rating: <%= userRating.rating %>/10</button>
                                    
                                    <form action="/<%= mediaType %>/<%= tmdbMedia.id %>/rating/<%= userRating.id %>?_method=DELETE" method="POST">
                                        <button type="submit">Delete Rating</button>
                                    </form>
                                <% } else { %>
                                    <button class="open-add-rating"><%= mediaType === "movie"? "Rate Movie" : "Rate Series" %></button>
                                <% } %>

                                <% if(reviews.some(review => review.user.equals(user.id))) {%>
                                    <button class="open-add-review" disabled>Reviewed &#10004;</button>
                                <% } else { %>
                                        <button class="open-add-review">Add Review</button>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>

        <% if(user) {%>
            <dialog class="add-review">
                <form action="/<%= mediaType %>/<%= tmdbMedia.id %>/reviews" method="POST">
                    <div class="review-form-header">
                        <h2>Add Review</h2>
                        <button class="close-review" type="button">X</button>
                    </div>
                    <textarea name="comment" id="comment" required></textarea>

                    <div class="form-review-buttons">
                        <button class="cancel-review" type="button">Cancel</button>
                        <button class="primary-button submit-review" type="submit">Submit Review</button>
                    </div>
                </form>
            </dialog>

            <dialog class="add-rate">
                <form action="/<%= mediaType %>/<%= tmdbMedia.id %>/rating" method="POST">
                    <div class="review-form-header">
                        <h2><%= userRating? "Edit Rating" : "Add Rating" %></h2>
                        <button class="close-rate" type="button">X</button>
                    </div>

                     <div class="star-container">
                        <div class="star-rating">
                            <% for(let i = 10; i >= 1; i--) { %>
                                <input type="radio" name="rating" id="rating-<%= i %>" value="<%= i %>" <%= userRating && userRating.rating === i ? "checked" : "" %>  required>
                                <label for="rating-<%= i %>">&#9733;</label>
                            <% } %>
                        </div>
                        <p class="rating-info">Choose Rating from 1 to 10</p>
                     </div>

                    <div class="form-review-buttons">
                        <button class="cancel-rate" type="button">Cancel</button>
                        <button class="primary-button submit-rate" type="submit"><%= userRating? "Update Rating" : "Submit Rating" %></button>
                    </div>
                </form>
            </dialog>
        <% } %>

        <section class="display-review">
            <h2>User Reviews</h2>
            <% if(reviews.length === 0) { %>
                <p class="no-reviews">No Reviews yet</p>
            <%  } %>

            <% reviews.forEach(review => { %>
                <div class="specific-review">
                    <div class="specific-review-items">
                        <div class="profile-container">
                            <div class="profile-picture">
                                <span class="review-profile">
                                    <%= review.user.username.charAt(0).toUpperCase() %>
                                </span>
                            </div>
                            <div class="profile-info">
                                <strong>
                                    <%= review.user.username %>
                                </strong>
                                <p><%= review.createdAt.toLocaleDateString() %></p>
                            </div>
                        </div>
                
                        <% if(user && review.user.equals(user.id)) {%>
                            <div class="specific-review-buttons">
                                <button class="open-edit-review">Edit</button>
                                <form action="/<%= mediaType %>/<%= tmdbMedia.id %>/reviews/<%= review.id %>?_method=DELETE"
                                    method="POST">
                                    <button type="submit" class="delete-review">Delete</button>
                                </form>
                            </div>
                            <dialog class="edit-review">
                                <form action="/<%= mediaType %>/<%= tmdbMedia.id %>/reviews/<%= review.id %>?_method=PUT"
                                    method="POST">
                                    <div class="review-form-header">
                                        <h2>Edit Review</h2>
                                        <button class="close-edit-review" type="button">X</button>
                                    </div>
                                    <textarea name="comment" id="comment" required><%= review.comment %></textarea>

                                    <div class="form-review-buttons">
                                        <button class="cancel-edit-review" type="button">Cancel</button>
                                        <button class="primary-button submit-review" type="submit">Submit Review</button>
                                    </div>
                                </form>
                            </dialog>
                        <% } %>
                    </div>
                    <p class="review-comment"><%= review.comment %></p>
                </div>         
            <% }) %>
        </section>

    </main>
    <script src="/scripts/handle-dialog.js"></script>
    </body>

    </html>