<%- include("../partials/nav.ejs") %>
    <main>
        <h1>Movie Details</h1>
         <img src="https://image.tmdb.org/t/p/w200<%= movie.poster_path%>" alt="<%= movie.title %>">
         <h1><%= movie.title %></h1>
         <p><%= movie.overview %></p>
         <p><%= movie.release_date %></p>
         
    </main>

</body>

</html>