<%- include("../partials/nav.ejs") %>

    <main>
        <section class="media-container" style="
            background-image:url('https://image.tmdb.org/t/p/original<%= movie.backdrop_path %>');
            ">
            <div class="media-details-container">
                <img class="media-details-poster" src="https://image.tmdb.org/t/p/w400<%= movie.poster_path %>" alt="<%= movie.title %> ">

                <div class="media-details-content">
                    <h1><%= movie.title %></h1>
                    <p class="tagline"><%= movie.tagline %></p>

                    <div class="media-info">
                        <span>⭐ Future Rate</span>
                        <span><%= movie.release_date.slice(0, 4) || "Not available" %></span>
                        <span><%= movie.runtime %> min</span>
                    </div>

                    <div class="genre">
                        <% movie.genres.forEach(genre => { %>
                            <span class="genre-style"><%= genre.name %></span>
                         <% }) %>
                    </div>

                    <h2>Overview</h2>
                    <p class="overview"><%= movie.overview %></p>

                    <% if(user) { %>
                        <div class="media-actions">
                            <button class="primary-button">Add to Watchlist</button>
                            
                            <div class="secondary-button">
                                <button>Rate Movie</button>
                                <button>Add Review</button>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
    </main>

</body>

</html>